#board{
    position            : relative;
}

.cell
{
    position            : relative;
    top                 : 1px;
    left                : 1px;
    width               : 31px;
    height              : 31px;
    background-color    : #00ff00;
}

.square
{
    position            : absolute;
    width               : 33px;
    height              : 33px;
    background-color    : #000000;
}

.whiteStone {
    display             : block;
    position            : relative;
    width: 31px;
    height: 31px;
    background: #ffffff;
    border-radius: 50%;
  }

  .blackStone {
    display             : block;
    position            : relative;
    width: 31px;
    height: 31px;
    background: #000000;
    border-radius: 50%;
  }