
body{
　width:100%;
　background:#333;
}
#bodyWrapper{
　max-width: 640px;
　margin:auto;
　background:#fff;
　position:relative;
　overflow:hidden;
}
#canvas_stage{
　padding:10px;
}
p{
　margin-left:20px;
}
